<a href="https://colab.research.google.com/github/anasbenibrahim/Python-AI-Foundations/blob/master/Python_AI_Foundations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Converting integer to float**

In [ ]:
integer_number = 12345
float_number = 1.2345
float_number2 = 3.3

new_number = integer_number + float_number
new_number2 = new_number + float_number2

print("Value:",new_number)
print("Data Type:",type(new_number))
print("New Value:",new_number2)

Value: 12346.2345
Data Type: <class 'float'>
New Value: 12349.5345

# **Explicit Type Conversion**

In [ ]:
num_string = '12'
num_integer = 23

print("Data type before Type Casting:",type(num_string))

# explicit type conversion
num_string = int(num_string)

print("Data type before Type Casting:",type(num_string))

num_sum = num_integer + num_string

print("Sum:",num_sum)
print("Data type of sum:",type(num_sum))

Data type before Type Casting: <class 'str'>
Data type before Type Casting: <class 'int'>
Sum: 35
Data type of sum: <class 'int'>

# **Python Basic Input and Output**

In [ ]:
print('Python')

Python

In [ ]:
print('New Year', 2026, 'See you', sep= '. ')

New Year. 2026. See you

In [ ]:
print('Anas ' + 'Ben ibrahim')

Anas Ben ibrahim

## ***Output formatting***

In [ ]:
x = 5
y = 10

print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

## ***Python Input***

In [ ]:
# Using input() to take user input
num = input('Enter a number: ')

print('You Entred:', num)

print('Data type of num:', type(num))

Enter a number: 22
You Entred: 22
Data type of num: <class 'str'>

In [ ]:
# To convert user input into a number we can use int() or float() functions as :
num = int(input('Enter a number: '))

print('Data type of num:', type(num))

Enter a number: 55
Data type of num: <class 'int'>

# **Python Operators**

## ***Example 1: Arithmetic Operators in Python***

In [1]:
a = 8
b = 4

# Addition
print ('Sum: ', a + b)

# Subtraction
print ('Subtraction: ', a - b)

# Multiplication
print ('Multiplication: ', a * b)

# Division
print ('Division: ', a / b)

# Floor Division
print ('Floor Division: ', a // b)

# Modulo
print ('Modulo: ', a % b)

# a To The Power b
print ('Power: ', a ** b)

Sum:  12
Subtraction:  4
Multiplication:  32
Division:  2.0
Floor Division:  2
Modulo:  0
Power:  4096

## ***Example 2: Assignment Operators***

In [3]:
# Assign 10 to a
a = 10

# Assign 5 to b
b = 5

# Assign the sum of a and b to a
a += b  # a = a + b

print(a)

15

## ***Example 3: Comparison Operators***

In [5]:
a = 2
b = 3

# Equal to operator
print('a == b =', a == b)

# Not equal to operator
print('a != b =', a != b)

# Greater than operator
print('a > b =', a > b)

# Less than operator
print('a < b =', a < b)

# Greater than or equal to operator
print('a >= b =', a >= b)

# Less than or equal to operator
print('a <= b =', a <= b)

a == b = False
a != b = True
a > b = False
a < b = True
a >= b = False
a <= b = True

## ***Example 4: Logical Operators***

In [6]:
# Logical AND
print(True and True)
print(True and False)

# Logical OR
print(True or False)

# Logical NOT
print(not True)

True
False
True
False

## ***Example 6: Python Special Operators***

In [7]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is not y1)

print(x2 is y2)

print(x3 is y3)

False
True
False

## ***Example 7: Membership Operators***

In [9]:
message = 'Hello world'
dict1 = {1:'a', 2:'b'}

# Check if 'H' is present in message string
print('H' in message)

# Check if 'hello' is present in message string
print('hello' not in message)

# Check if '1' key is present in dict1
print(1 in dict1)

# Check if 'a' key is present in dict1
print('a' in dict1)

True
True
True
False