<a href="https://colab.research.google.com/github/anasbenibrahim/Python-AI-Foundations/blob/master/03_python_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Data Structure**

## ***1. List***

In [7]:
# A list of numbers
ages = [19, 26, 29]
print(ages)

# A list containing strings and numbers
student = ['Jack', 32, 'Computer Science']
print(student)

# An empty list
empty_list = []
print(empty_list)

# Access elements using index
languages = ['Python', 'Go', 'Java']
print(languages[0])
print(languages[2])

# Negative indexing
print(languages[-1])
print(languages[-3])

# Add element to list
fruits = ['apple', 'banana', 'orange']
print('Original List:', fruits)

fruits.append('cherry')
print('Updated List:', fruits)

# Add element at the specified index
fruits.insert(2, 'limon')
print('List:', fruits)

# Change list items
colors = ['Red', 'Black', 'Green']
print('Original Colors List:', colors)

colors[2] = 'Blue'
print('Updated Colors List:', colors)

# Remove an item from list
numbers = [2,4,7,9]
numbers.remove(4)
print(numbers)

# List length
cars = ['BMW', 'Mercedes', 'Tesla']
print('Total Elements: ', len(cars))

# Iterating through a list
for car in cars:
  print(car)

# Check if an item exists
print('orange' in fruits)
print('BMW' in cars)

[19, 26, 29]
['Jack', 32, 'Computer Science']
[]
Python
Java
Java
Python
Original List: ['apple', 'banana', 'orange']
Updated List: ['apple', 'banana', 'orange', 'cherry']
List: ['apple', 'banana', 'limon', 'orange', 'cherry']
Original Colors List: ['Red', 'Black', 'Green']
Updated Colors List: ['Red', 'Black', 'Blue']
[2, 7, 9]
Total Elements:  3
BMW
Mercedes
Tesla
True
True

## ***2. Tuple***

In [8]:
# Tuple
nums = (1, 2, -5)
print(nums)

# Create a tuple using tuple() constructor
tuple_constructor = tuple(('jack', 'Maria', 'David'))
print(tuple_constructor)

# Empty tuple
empty_tuple = ()
print(empty_tuple)

# Tuple of mixed data types
mixed_tuple = (2, 'Hello', 'Python')
print(mixed_tuple)

# Tuple cannot be modified (error)
tup = ('BMW', 'Toyota', 'Mercedes')
tup[0] = 'Nissan'
print(tup)  # error

(1, 2, -5)
('jack', 'Maria', 'David')
()
(2, 'Hello', 'Python')

TypeError: 'tuple' object does not support item assignment

## ***3. Sets***

In [17]:
# Create a Set of integer type
student_id = {112, 114, 116, 118, 115}
print('Student ID:', student_id)

# Create a Set of string type
vowel_letters = {'a', 'e', 'i', 'o', 'u'}
print('Vowel Letters:', vowel_letters)

# Create a Set of mixed data types
mixed_set = {'Hello', 101, -2, 'Bye'}
print('Set of mixed data types:', mixed_set)

# Duplicate items in a Set
numbers = {2, 4, 6, 6, 2, 8}
print(numbers)

# using add() method
numbers.add(32)
print('Updated Set:', numbers)

# Update Python Set
companies = {'Lacost', 'Ralph Lauren'}
tech_companies = ['apple', 'google', 'apple']

companies.update(tech_companies)
print(companies)

# Remove an element from a Set
companies.discard('apple')
print('Set after remove():', companies)

# Iterate over a Set in Python
fruits = {'Apple', 'Peach', 'Mango'}
for fruit in fruits:
  print(fruit)

#Find number of Set elements
print('Total elements:', len(fruits))

Student ID: {112, 114, 115, 116, 118}
Vowel Letters: {'e', 'a', 'i', 'o', 'u'}
Set of mixed data types: {'Bye', 'Hello', 101, -2}
{8, 2, 4, 6}
Updated Set: {32, 2, 4, 6, 8}
{'Ralph Lauren', 'apple', 'google', 'Lacost'}
Set after remove(): {'Ralph Lauren', 'google', 'Lacost'}
Mango
Peach
Apple
Total elements: 3

## ***4. Dictionary***

In [23]:
# Creating a dictionary
country_capitals = {
    "France": "Paris",
    "Canada": "Ottawa",
    "Germany": "Berlin"
}
print(country_capitals)

# Access Dictionary items
print(country_capitals["France"])

# Add items to a Dictionary
country_capitals["Italy"] = "Rome"
print(country_capitals)

# Remove Dictionary items
del country_capitals["Germany"]
print(country_capitals)

# Dictionary pop()
marks = {
    'Physics': 67,
    'Chemistry': 72,
    'Math': 89
}
element = marks.pop('Chemistry')
print('Popped Marks:', element)

# clear Dictionary: dict_name.clear()

# Iterate through a Dictionary
for country in country_capitals:
  print(country)

# Find Dictionary length
print(len(country_capitals))

{'France': 'Paris', 'Canada': 'Ottawa', 'Germany': 'Berlin'}
Paris
{'France': 'Paris', 'Canada': 'Ottawa', 'Germany': 'Berlin', 'Italy': 'Rome'}
{'France': 'Paris', 'Canada': 'Ottawa', 'Italy': 'Rome'}
Popped Marks: 72
France
Canada
Italy
3